<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.santirodriguezlorenzo.arbofs" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".application.ArboFSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        >

        <!-- Google Maps Fragment API Key Data -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyARme-e244Sxmr0T9TaVE4iNcU5LfozZZo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.RatingActivity"
            android:label="@string/title_activity_rating" >
        </activity>
        <activity
            android:name=".activity.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContributorsActivity"
            android:label="@string/title_activity_contributors" >
        </activity>
        <activity
            android:name=".activity.SiguenosActivity"
            android:label="@string/title_activity_siguenos" >
        </activity>
        <activity
            android:name=".activity.ContactoActivity"
            android:label="@string/title_activity_contacto" >
        </activity>
        <activity
            android:name=".activity.TemplateActivity"
            android:label="@string/title_activity_template" >
        </activity>
        <activity
            android:name=".activity.PlayerActivity"
            android:label="@string/title_activity_player" >
        </activity>
    </application>

</manifest>
